html {
    background-color: #fff;
    font-family:'Inter', sans-serif;
}

/* Bulma Class Modifications */

* {
    transition: .5s ease;
}

body {
    color: #1B222B;
}
a {
    color: inherit;
}
.section {
    padding: 1.5rem 1.5rem;

}
.title {
    color: #1B222B;
    font-weight: 900;
}

/* Modifications End */
.freelance-section {
    background-color:#f5c7c7;
    border: 1px solid #FB0402;
    display: inline-flex;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    /* margin-top: -20px; */

}

.freelance-cta-button {
    width: 110px;
    padding: 4px 4px 4px 4px; 
    text-align:center;
    margin: 11px;
    background-color: #FB0402;
    color:#fff;
    font-size: .9rem;
    font-weight: 700;
    display: inline-flex;
    justify-content: center;
}

.freelance-copy {
    font-size: .9rem;
    padding: 0 0 0 0;
    margin: auto 14px auto 0px;
    display:inline-flex;
    justify-content: center;
    color: #FB0402;
}

.block-01 {
    height:111px;
    /* background-color: #F1F3FD; */
    background-color: #F4F5F7;
}

.block-02 {
    height:111px;
    background-color: #FFF1E8;
}

.block-02:hover {
    background-color: #ffddc7;
}

.block-03 {
    height:111px;
    background-color: #E0EBED;
}

.block-03:hover {
    background-color: #dbf9ff;
}

.block-04 {
    height:111px;
    background-color: #D3DDD0;
}
.block-04:hover {
    background-color:#BDCCB8 ;
}

.block-text {
    padding: 64px 0px 0px 16px;
    font-weight: 700;
    font-size: 1.4rem;
}

.description-text {
    padding: 8px 4px 8px 4px;
    font-weight: 400;
    font-size: 1rem;
}

.tag-container{
    font-size: .8rem;
    padding: 8px 0 0 0;
    font-weight: 400;
}
.custom-tag-set-01 {
    width: 94px;
    padding: 8px 0 8px 0;
    color: #6219FF;
    background-color:#FAF5FF; 
    display:inline-flex;
    justify-content: center;
}

.cta-block {
    margin: 16px 0 16px 0;
}

.cta-tags {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px 0 0 0; 
    font-size: .8rem;
}
.custom-tag-set-02 {
    margin: 8px 8px 0 8px;
    width: 94px;
    padding: 8px 0 8px 0;
    color: #FF5019;
    border: solid 1px #FF5019;
    background-color:#FFF7F5; 
    display:inline-flex;
    justify-content: center;
    font-weight: bold;
}

.custom-tag-set-02:hover {
    background-color: #fbedea;
}

.cta-text {
    display:flex;
    justify-content: center;
    font-weight: 900;
    font-size: 1.4rem;
    text-align:center;
}

.custom-tag-set-03 {
    margin: 0 8px 0 8px;
    width: 150px;
    padding: 8px 0 8px 0;
    display:inline-flex;
    justify-content: center;
    color: #1B222B ;
    background-color: #F4F5F7;
}

.buy-me-a-coffee {
    text-align:center;
}